$default-font-stack: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

html, body {
  font-family: $default-font-stack;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
